body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:blue;
	
}

@font-face {
	font-family: 'termina';
	src: url('fonts/Termina\ W05\ Bold.otf');
}

@font-face {
	font-family: 'truenobld';
	src: url('fonts/TruenoRoundBd.otf');
}

@font-face {
	font-family: 'trueno';
	src: url('fonts/TruenoRound.otf');
}

@font-face {
	font-family: 'truenoit';
	src: url('fonts/TruenoRoundIt.otf');
}

@font-face {
	font-family: 'truenobldit';
	src: url('fonts/TruenoRoundBdIt.otf');
}

@font-face {
	font-family: 'koz';
	src: url('fonts/KozGoPr6N-Bold.otf');
}

@font-face {
	font-family: 'adobebld';
	src: url('fonts/AdobeClean-ExtraBold.otf');
}

/* home */


.nav {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 2;
	cursor: pointer;
	color: blue;
	font-family: 'truenobldit';
	display: flex;
	flex-wrap: wrap;
}

.eyes {
	margin-left: 5px;
}

.bluecircle {
	width: 30px;
	height: 30px;
	background-color: blue;
	border: 2px solid white; 
	margin-left: 5px;
}


.menu {
	height: 100vh;
	width: 50vw;
	background-color: blue;
	position: fixed;
	right: 0;
	top: 0px;
	z-index: 1;
	transition: all 2s;
	color: white;
	font-family: 'trueno';
	animation: menu 2s;
}

@keyframes menu {
	0% {
		right: -50vw;
	}

	100% {
		right: 0;
	}
}



.container1 {
	text-align: left;
	padding-left: 20px;
	padding-top: 93px;
	padding-right: 20px;
	font-size: 35px;

}

.menu.showme {
	right: -50vw;
	transition: all 1s;
}

.main {
	width: 492vw;
	display: flex;
	overflow: scroll;
	margin-top: 45px;
}

.title_col {
	width: 50px;
	height: 87.15vh;
	background-color: white;
	padding-left: 10px;
}

.title {
	width: 80vh;
	font-size: 30px;
	overflow: auto;
	color: blue;
	transform: rotate(90deg);
	transform-origin: bottom left;
	font-family: 'termina';
	padding-left: 20px;
	padding-bottom: 5px;
}

.btitle_col {
	width: 50px;
	height: 87.15vh;
	background-color: blue;
	padding-left: 10px;
}

.btitle {
	width: 80vh;
	font-size: 30px;
	overflow: auto;
	color: white;
	transform: rotate(90deg);
	transform-origin: bottom left;
	font-family: 'termina';
	padding-left: 20px;
	padding-bottom: 5px;
}

.head  {
	font-size: 24px;
	font-family: 'termina';
	top: 0px;
	position: sticky;
	background-color: white;
	padding-top: 4px;
	padding-bottom: 20px;	
}

.header {
	font-size: 24px;
	font-family: 'termina';
	top: 0px;
	position: sticky;
	background-color: white;
	padding-top: 4px;
	padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	color: blue;
}

.headerblue {
	font-size: 24px;
	font-family: 'termina';
	top: 0px;
	position: sticky;
	background-color: blue;
	color: white;
	padding-top: 4px;
	padding-bottom: 20px;
}

.item {
	margin-left: auto;
}

.circle {
	width: 20px;
	height: 20px;
	border: 2px solid blue;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-top-left-radius: 40px;
	margin-left: 4px;
	display: inline-flex;
}

.head audio {
	width: 100%;
}

.col1 {
	width: 15vw;
	height: 87.15vh;
	overflow: scroll;
	font-size: 18px;
	font-family: 'trueno';
	padding-left: 10px;
	padding-right: 10px;
}

.col1 p {
	margin-bottom: 15px;
	color: blue;
}

.col1_2 {
	width: 90vw;
	height: 87.15vh;
	overflow: scroll;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 18px;
	font-family: 'trueno';
}

.podcast_text {
	padding-left: 120px;
	padding-right: 120px;
}

.col1_2 .middle {
	width: 75%;
	padding: 20px;
	border: 2px solid black;
	border-radius: 40px;
  	margin-left: auto;
	margin-right: auto;
  	margin-bottom: 5px;
	padding-top: 15px;
}

.col1_2 .right {
	width: 75%;
	padding: 20px;
	border: 2px solid blue;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-top-left-radius: 40px;
  	padding-top: 15px;
  	margin-left: auto;
	margin-bottom: 5px;
	color: blue;
}



.col1_2 .left {
	width: 75%;
	padding: 20px;
	border: 2px solid rgb(123, 176, 255);
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 40px;
  	padding-top: 15px;
  	margin-right: auto;
	margin-bottom: 5px;
	color: rgb(123, 176, 255);
}


.col1_2 .bar {
	width: 100%;
	background-color: tomato;
	border-radius: 40px;
  	padding-top: 10px;
  	margin-right: auto;
	margin-bottom: 5px;
	padding: 2px;
}

.col1_2 .bar2 {
	width: 100%;
	background-color: rgb(255, 206, 71);
	border-radius: 40px;
  	padding-top: 10px;
  	margin-right: auto;
	margin-bottom: 5px;
	padding: 2px;
}

.col1_2 .bar3 {
	width: 100%;
	background-color: rgb(109, 255, 89);
	border-radius: 40px;
  	padding-top: 10px;
  	margin-right: auto;
	margin-bottom: 5px;
	padding: 2px;
}


.col2 {
	width: 60vw;
	height: 87.15vh;
	overflow: scroll;
	font-size:32px;
	font-family: 'trueno';
	padding-left: 10px;
	padding-right: 10px;
	background-color: blue;
	color: white;
}

.col2text p {
	margin-bottom: 30px;
	padding-left: 220px;
	padding-right: 220px;
}


.col3 {
	width: 90vw;
	height: 87.15vh;
	overflow: scroll;
	font-size: 58px;
	font-family: 'trueno';
	padding-left: 10px;
	padding-right: 10px;
}

.col3text {
	margin-left: 15vw;
	margin-right: 15vw;
	color: blue;
}

.col3 p {
	margin-bottom: 80px;
}

.col3_2 {
	width: 90vw;
	height: 87.15vh;
	overflow: scroll;
	font-size: 32px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Trueno';
	background-color: blue;
	color: white;
}

.text3_2text {
	margin-left: 20vw;
	margin-right: 20vw;
}

.col3_2 p {
	margin-bottom: 30px;
}

.image1 {
	width: 20vw;
	height: 87vh;
	overflow: scroll;
}

.image1 img {
	filter: grayscale(100%);
	height: 87vh;
}


.image2 {
	height: 87.15vh;
	width: 15vw;
	overflow: scroll;
}

.image2 img {
	height: 25vh;
	filter: grayscale(100%);
	transition: 1s;
}


.image3 {
	height: 87vh;
	width: 20vw;
	overflow: scroll;
}



.col5 {
	width: 20vw;
	height: 87.15vh;
	overflow: scroll;
	font-family: 'trueno';
	font-size: 24px;
	padding-left: 10px;
	padding-right: 10px;
	/*background-color: blue;
  	box-shadow: inset 0 0 50px 20px white;*/
}


.col4 {
	width: 90vw;
	height: 87.15vh;
	padding-left: 15px;
	padding-right: 15px;
	overflow: scroll;
	font-size: 32px;
	font-family: 'trueno';
}

.col4text {
	text-indent: 60px;
	padding-left: 20vw;
	padding-right: 20vw;
	color: blue;
	line-height: 40px;
}

.subt {
	color: blue;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 50px;
	padding-bottom: 15px;
	padding-top: 10px;
	padding-right: 10px;
	text-align: right;
}

.backwards {
	display: inline- block; 
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.col4_2 {
	width: 25vw;
	height: 87.15vh;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 48px;
	overflow: scroll;
	font-size: 60px;
	font-family: 'trueno';
	writing-mode: vertical-rl;
	background-color: blue;
	color: white;
}

.rightbub {
	width: 49%;
	padding: 20px;
	border: 2px solid black;
	border-radius: 40px;
  	padding-top: 15px;
  	
	margin-bottom: 5px;
	color: black;
	display: inline-flex;
}

.leftbub {
	width: 49%;
	padding: 20px;
	border: 2px solid black;
	border-radius: 40px;
  	padding-top: 15px;
  	
	margin-bottom: 5px;
	color: black;
	display: inline-flex;
}

.marquee_text {
    font-size: 4rem;
    font-weight: bold;
    line-height: 4.7rem;
    position: fixed;
    bottom: 0px;
	overflow: hidden;
	background-color: blue;
	color: white;
	font-family: 'termina';
	
}

/* .marquee_text2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    position: fixed;
    top: 0px;
	overflow: hidden;
	background-color: blue;
	color: white;
} */

