body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

/* home */

.nav {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 45px;
	background-color: blue;
	transition: 1s;
}

.nav:hover {
	height: 20vh;
}

.main {
	width: 400vh;
	display: flex;
	overflow: scroll;
	margin-top: 45px;
}


.col1 {
	width: 20vw;
	height: 700px;
	overflow: scroll;
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-left: 10px;
	padding-right: 10px;
}

.col2 {
	width: 50vw;
	height: 700px;
	overflow: scroll;
	padding-left: 10px;
	padding-right: 10px;
}


.col3 {
	width: 55vw;
	height: 700px;
	overflow: scroll;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.col4 {
	height: 30vh;
	width: 15vw;
	overflow: scroll;
}

.col4 img {
	height: 25vh;
	filter: grayscale(100%);
	transition: 1s;
}

.col4 img:hover {
	filter: none;
}

.col5 {
	width: 20vw;
	height: 700px;
	overflow: scroll;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 14px;
	padding-left: 2px;
	padding-right: 2px;
}

.marquee_text {
    font-size: 6rem;
    font-weight: bold;
    line-height: 7rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	overflow: hidden;
}





/* landing */

.container{
	display: flex;
	flex-wrap: wrap;
}

.leftside{
	width: 30%;
	background-color: black;
	color: bisque;
	padding: 10px;
	overflow: hidden;
	overflow: scroll;
	font-size: 20px;
}

.navi {
	width: 100%;
	background-color: blueviolet;
	color: chocolate;
	padding: 10px;
	position: fixed;
	top: 0px;
	left: 0px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.start {
	margin-top: 50px;
}