body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

@font-face {
	font-family: 'termina';
	src: url('fonts/Termina\ W05\ Bold.otf');
}

@font-face {
	font-family: 'truenobld';
	src: url('fonts/TruenoRoundBd.otf');
}

@font-face {
	font-family: 'trueno';
	src: url('fonts/TruenoRound.otf');
}

@font-face {
	font-family: 'truenoit';
	src: url('fonts/TruenoRoundIt.otf');
}

@font-face {
	font-family: 'truenobldit';
	src: url('fonts/TruenoRoundBdIt.otf');
}

@font-face {
	font-family: 'koz';
	src: url('fonts/KozGoPr6N-Bold.otf');
}

@font-face {
	font-family: 'adobebld';
	src: url('fonts/AdobeClean-ExtraBold.otf');
}

/* home */

.nav1 {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 45px;
	background-color: white;
}

.nav {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 2;
	cursor: pointer;
}

.menu {
	height: 100vh;
	width: 50vw;
	background-color: rgb(0, 0, 0);
	position: fixed;
	right: -50vw;
	top: 0px;
	z-index: 1;
	transition: all 2s;
	color: white;
}

.main {
	width: 400vh;
	display: flex;
	overflow: scroll;
	margin-top: 45px;
}

.header {
	font-size: 24px;
	font-family: 'termina';
	margin-bottom: 15px;
	top: 0px;
	position: sticky;
	background-color: white;
	padding-top: 4px;
	padding-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 70px;
}

.item1 .item2 {
	font-size: 24px;
	font-family: 'termina';
}

.col1 {
	width: 20vw;
	height: 87.15vh;
	overflow: scroll;
	font-size: 18px;
	font-family: 'trueno';
	padding-left: 10px;
	padding-right: 10px;
}

.title1 {
	width: 40px;
	height: 87.15vh;
	background-color: white;
	padding-left: 10px;
}

.tit {
	width: 100vw;
	font-size: 30px;
	overflow: auto;
	color: blue;
	transform: rotate(90deg);
	transform-origin: bottom left;
	font-family: 'truenobldit';
	padding-left: 200px;
	padding-bottom: 5px;
}


.col2 {
	width: 60vw;
	height: 87.15vh;
	overflow: scroll;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
	font-family: 'trueno';
}

.col2 .middle {
	width: 75%;
	padding: 20px;
	border: 2px solid black;
	border-radius: 40px;
  	margin-left: auto;
	margin-right: auto;
  	margin-bottom: 5px;
	padding-top: 15px;
}

.col2 .right {
	width: 75%;
	padding: 20px;
	border: 2px solid blue;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-top-left-radius: 40px;
  	padding-top: 15px;
  	margin-left: auto;
	margin-bottom: 5px;
	color: blue;
}

.col2 .left {
	width: 75%;
	padding: 20px;
	border: 2px solid rgb(123, 176, 255);
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 40px;
  	padding-top: 15px;
  	margin-right: auto;
	margin-bottom: 5px;
	color: rgb(123, 176, 255);
}

.col2 .bar {
	width: 100%;
	background-color: tomato;
	border-radius: 40px;
  	padding-top: 10px;
  	margin-right: auto;
	margin-bottom: 5px;
	padding: 2px;
}

.col2 .bar2 {
	width: 100%;
	background-color: rgb(255, 206, 71);
	border-radius: 40px;
  	padding-top: 10px;
  	margin-right: auto;
	margin-bottom: 5px;
	padding: 2px;
}

.col2 .bar3 {
	width: 100%;
	background-color: rgb(109, 255, 89);
	border-radius: 40px;
  	padding-top: 10px;
  	margin-right: auto;
	margin-bottom: 5px;
	padding: 2px;
}

.col2 .circle {
	width: 40px;
	height: 40px;
	border: 2px solid blue;
	border-radius: 40px;
  	padding-top: 10px;
  	margin-right: auto;
	margin-bottom: 5px;
	padding: 10px;
}

.col2_1 {
	width: 20vw;
	height: 87.15vh;
	overflow: scroll;
	font-size: 16px;
	font-family: 'truenobld';
	padding-left: 10px;
	padding-right: 10px;
}
.image1 {
	width: 20vw;
	height: 87.15vh;
	overflow: scroll;
}

.image1 img {
	filter: grayscale(100%);
}

.col3 {
	width: 55vw;
	height: 87.15vh;
	overflow: scroll;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'TruenoRoundIt';
}

.col4 {
	height: 87.15vh;
	width: 15vw;
	overflow: scroll;
}

.col4 img {
	height: 25vh;
	filter: grayscale(100%);
	transition: 1s;
}

/*
.col4 img:hover {
	filter: none;
}
*/

.col5 {
	width: 20vw;
	height: 87.15vh;
	overflow: scroll;
	font-family: 'adobebld';
	font-size: 24px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	/*background-color: blue;
  	box-shadow: inset 0 0 50px 20px white;*/
}

.marquee_text {
    font-size: 4rem;
    font-weight: bold;
    line-height: 4.5rem;
    position: fixed;
    bottom: 0px;
	overflow: hidden;
	background-color: blue;
	color: white;
}

/* .marquee_text2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    position: fixed;
    top: 0px;
	overflow: hidden;
	background-color: blue;
	color: white;
} */





/* landing */

.container{
	display: flex;
	flex-wrap: wrap;
}

.leftside{
	width: 30%;
	background-color: black;
	color: bisque;
	padding: 10px;
	overflow: hidden;
	overflow: scroll;
	font-size: 20px;
}

.navi {
	width: 100%;
	background-color: blueviolet;
	color: chocolate;
	padding: 10px;
	position: fixed;
	top: 0px;
	left: 0px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.start {
	margin-top: 50px;
}