body {
	margin: 0;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 50px;
	color: blue;
	justify-content: center;
	background-color: chocolate;
}

p {
	color: darkgreen;
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

p
	background

a {
	color:red;
}
